.movies-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

.movies-list__block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: minmax(237px, 1fr);
  grid-gap: 37px 24px;
  width: 100%;
}

.movies-list__button {
  width: 320px;
  height: 36px;
  margin-top: 50px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  background-color: #F9F9F9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.movies-list__button-show {
  margin-top: 60px;
  width: 80%;
  max-width: 350px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color .1s linear;
}

.movies-list__button-show:hover {
  background-color: #F3C1F8;
}

@media screen and (max-width: 768px) {
  .movies-list__block {
    grid-gap: 30px;
  }
}

@media screen and (max-width: 650px) {
  .movies-list__block {
    max-width: 400px;
  }
}

@media screen and (max-width: 550px) {
  .movies-list {
    padding: 50px 0 80px;
  }
}

@media screen and (max-width: 500px) {
  .movies-list__button-show {
    margin-top: 50px;
    font-size: 12px;
    line-height: 15px;
  }
}