.portfolio {
  padding: 0 70px 105px;
}

.portfolio__title {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  text-decoration: none;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__link:last-child {
  border: none;
}

.link__text {
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  color: #000;
}