.promo {
  height: 634px;
  padding: 50px 70px 0;
  background-color: #F3C1F8;
}

.promo__wrapper {
  background-image: url(../../images/landing-logo_l.png);
  background-position: bottom 60px right 0;
  background-repeat: no-repeat;
}

.promo__title {
  max-width: 626px;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
}

@media screen and (max-width: 1023px) {
  .promo {
    padding: 50px 30px 0;
  }
}

@media screen and (max-width: 862px) {
  .promo {
    padding: 50px 0 0;
  }

  .promo__title {
    margin-left: 30px;
  }

  .promo__wrapper {
    background-position: bottom 60px center;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    height: 918px;
    padding-top: 300px;
  }

  .promo__wrapper {
    background-image: url(../../images/landing-logo_m.png);
    background-position: bottom 70px center;
  }

  .promo__title {
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 605px) {
  .promo {
    height: 704px;
    padding-top: 183px;
  }

  .promo__title {
    max-width: 520px;
    font-size: 31px;
    line-height: 39px;
  }
}