.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 246px 440px 60px;
}

.not-found__title {
  font-size: 140px;
  font-weight: 400;
  line-height: 170px;
  text-align: center;
}

.not-found__subtitle {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.not-found__return {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 800px) {
  .not-found {
    height: 1024px;
    padding: 408px 184px 222px;
  }
}

@media screen and (max-width: 500px) {
  .not-found {
    height: 100vh;
    padding: 329px 10px 30px;
  }

  .not-found__title {
    font-size: 80px;
    line-height: 97px;
  }
}