.techs {
  padding: 100px 70px;
  background-color: #F5F5F5;
}

.techs__title {
  margin-top: 114px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
}

.techs__subtitle {
  max-width: 460px;
  margin: 26px auto 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.techs__block {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 90px));
  grid-column-gap: 10px;
  max-width: 690px;
  margin: 100px auto 0;
  list-style-type: none;
}

.techs__item {
  width: 100%;
  height: 60px;
  padding: 21px 0 22px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  background-color: #E8E8E8;
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__title {
    margin-top: 104px;
  }

  .techs__subtitle {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }

  .techs__block {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 84px));
    grid-column-gap: 10px;
    margin-top: 83px;
    list-style-type: none;
  }
}

@media screen and (max-width: 650px) {
  .techs__block {
    grid-template-columns: repeat(4, minmax(0, 84px));
    grid-template-rows: repeat(2, 57px);
    grid-row-gap: 10px;
    max-width: 360px;
    margin: 50px auto 0;
  }
}

@media screen and (max-width: 580px) {
  .techs {
    padding: 70px 18px;
  }
}

@media screen and (max-width: 500px) {
  .techs {
    background-color: #fff;
  }

  .techs__title {
    margin-top: 89px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__subtitle {
    max-width: 301px;
    font-size: 11px;
    line-height: 16px;
  }
  
  .techs__block {
    grid-template-columns: repeat(3, minmax(0, 84px));
    grid-template-rows: repeat(3, 57px);
    max-width: 275px;
  }

  .techs__item {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 400px) {
  .techs__block {
    grid-template-columns: repeat(2, minmax(0, 84px));
    grid-template-rows: repeat(4, 57px);
    max-width: 178px;
  }
}