.about-me {
  padding: 110px 70px 100px;
}

.about-me__block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 90px;
}

.about-me__desription {
  max-width: 600px;
  width: 55%;
}

.about-me__title {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
}

.about-me__subtitle {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.about-me__text {
  margin-top: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.about-me__link {
  display: inline-block;
  margin-top: 99px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  color: #000;
}

.about-me__photo {
  max-width: 270px;
  width: 40%;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__title {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__desription {
    max-width: 367px;
  }

  .about-me__subtitle {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text {
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__link {
    margin-top: 87px;
  }

  .about-me__photo {
    max-width: 255px;
  }
}

@media screen and (max-width: 620px) {
  .about-me__block {
    align-items: center;
    flex-direction: column-reverse;
  }

  .about-me__desription {
    width: 100%;
    max-width: none;
    margin-top: 40px;
  }

  .about-me__subtitle {
    margin-top: 20px;
  }

  .about-me__photo {
    width: 70%;
    max-width: 292px;
  }

  .about-me__link {
    margin-top: 40px;
  }
}

@media screen and (max-width: 580px) {
  .about-me {
    padding: 70px 14px;
  }

  .about-me__title {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__photo {
    width: 100%;
  }
}